<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.code">

    <!-- With this permission we can read the data from external storage,
    meaning data that are also stored by other apps  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- This permission is required to read data from the external storage
    point to note that, this is required only till max of sdk version 28,
    Later to this version, It is handled by the scoped storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code">
        <activity android:name=".ui.activities.ApplicationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity"
            android:label="@string/internal_storage_images"/>

    </application>

</manifest>